{% extends "book/base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="content container">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>日付</th>
                    <th>カテゴリ</th>
                    <th>金額</th>
                    <th>メモ</th>
                </tr>
            </thead>
            <tbody>
            {% for data in hhAccount %}
                <tr>
                    <td>{{data.id}}</td>
                    <td>{{data.date}}</td>
                    <td>{{data.category}}</td>
                    <td>{{data.money_amount}}</td>
                    <td>{{data.memo|linebreaksbr}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h1>ようこそ「俺の家計簿！」へ。</h1>
<h3>あなたの家計簿を作ることができるアプリです。まずはユーザー登録してツールを使えるように準備しましょう。</h3>
{% endif %}
{% endblock %}
