html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

th, td{
    color: #000000
}

.navbar{
    font-size:2.0rem;
    background-color: #0050ff;
    color: #ffffff;
    padding: 20px 20px 20px 40px
}

.navbar .navbar-brand{
    font-size: 3.0rem;
    background-color: #0050ff;
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-item{
    background-color: #0050ff;
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-item:hover, .navbar-light .navbar-nav .nav-item:focus{
    background-color: #0050ff;
    color: #002c8c;
}

tbody tr.clicktable:hover td{
    background: #525252;
    cursor: pointer;
}

h1, h2, h3{
    background-color: #ffffff;
    color: #000000;
    margin-top: 10px;
    margin-left: 20px;
}

.content{
    margin-top: 20px;
    margin-left: 10px;
}

.space{
    margin-bottom: 20px;
}

.chart-container{
    display: flex;
    margin-bottom: 20px;
}
